.options input {
    width: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.tile {
  background: #fff;
  border: 1px solid #ccd5ba;
  float: left;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  width: 10px;
}

.occupied-tile {
  background: green;
}

.food-tile {
  background: lime;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
